
#bloco1{
  display: flex;
  flex-direction: column;
}

#bloco2{
  display: flex;
  flex-direction: row;
}

.inline-block {
  display: inline-block;
  margin: 0 10px; /* ajuste o espaçamento conforme necessário */
}
